.loginPage{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#000;
    padding:30px;
}
.loginpageContainer{background:#fff;
    width:70%;border-radius: 30px;padding:40px;padding-bottom:10px;}
.login-form{
    width:50%;
    margin:10%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.signin-info{
    margin-top: 15px;
}

.loginPage h3{margin:0 0 15px;margin-top:-27px;display: flex;}
.loginPage h3 span{background-color:#fff;padding:0 6px;}
.loginPage form{margin-bottom:30px;line-height:180%;border:2px solid #ccc;padding:12px 30px;border-radius:20px;}

.loginPage label{font-size:0.9em;font-weight:bold;margin-right:10px;}
.loginPage .profilepic{display:flex;}
.loginPage .profilepic input{background-color:rgb(233, 231, 231);}
.loginPage .image-uploader img{width:100px;height:100px;object-fit: cover;object-position: center;border-radius: 150px;}

.loginPage input{border:1px solid rgb(41, 41, 191);border-radius: 5px;padding:7px 10px;margin-bottom:5px;}
.loginPage .bluebtn{margin:0;padding:8px 30px;background-color: blue;border-radius: 10px;color:#fff;margin-top:10px;}
.loginPage .imgup input{border: none;}
/* Tablets - header changes color */
@media screen and (max-width: 992px) {

}
  
/* Large smartphones */
@media screen and (max-width: 768px) {
    .loginPage{

        padding:0px;
    }
    .loginpageContainer{width:100%;padding:30px;}
    .loginPage form{
        padding:12px 20px;
    }
    .loginPage .profilepic{flex-direction: column;}

}

/* Small smartphones  */
@media screen and (max-width: 576px) {


}
  