.loginPage{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(247, 240, 230);
    
}

.login-form{
    width:50%;
    margin:10%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.signin-info{
    margin-top: 15px;
}


