.trivia-quiz{padding:0 0 20px;text-align:center;}
.trivia-quiz .quiz-container{    
    width:90%;
    margin:0 auto;
    max-width: 960px;
    background:#fff;
    padding:15px 20px;

    border:5px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.8)
}
.trivia-quiz .quiz-header{display:flex;justify-content: space-between;}

.trivia-quiz .quiz-header h2{font-size:2em;margin:0;margin-bottom:10px;color:#000;text-align: left;}
.trivia-quiz .quiz-body{margin-top:-16px;}
.trivia-quiz .details{display:flex;flex-direction: column;text-align: right;}
.trivia-quiz .details .user{display:flex;border:2px solid #ccc;border-radius: 5px;border-top-left-radius:25px;border-bottom-left-radius:25px;align-items: center;margin-bottom:2px;}

.trivia-quiz .details .user img{width:45px;height:45px;border-radius: 50px;object-fit: cover;}
.trivia-quiz .details .user strong{padding:0 10px;}
.trivia-quiz .details .diff{font-size:0.85em;margin-bottom:5px;}
.trivia-quiz .details .rating{font-size:0.85em;}
.trivia-quiz .details .like{font-size:0.85em;display:flex;justify-content: flex-end;align-items: center;;}
.trivia-quiz .details .like img{width:30px;margin-right:5px;}
/* .trivia-quiz .question-img{width:70%;aspect-ratio:calc(16/9);overflow: hidden;border-radius: 15px;margin:0 auto 10px;} */
/* .trivia-quiz .question-img img{width:60%;height:300px;} */
.trivia-quiz .question-img{height:40vh;border-radius: 15px;margin:0 auto 10px;min-height:200px;}
.trivia-quiz .question-img img{height:100%;object-fit:contain;max-width:100%;}
.trivia-quiz .question-text{font-size:1.5em;margin-bottom:10px;}
.trivia-quiz .answer-section{display:flex;flex-wrap: wrap;width:80%;margin:0 auto;justify-content: space-between;}
/* .trivia-quiz .answer-section button{width:48%;font-size:1.2em;padding:5px 5px;margin-bottom:5px;} */
.trivia-quiz .answer-section button{width:48%;font-size:1.2em;padding:8px 5px;margin:0;margin-bottom:8px;border-radius: 5px;background-color:#ccc;border:none;cursor:pointer;text-align: center;}
.trivia-quiz .answer-section button:hover{background-color: pink;}
.trivia-quiz .answer-section button.right{background-color: green;}
.trivia-quiz .answer-section button.wrong{background-color: red;}

.trivia-quiz .score-image{display:flex;justify-content: center;flex-wrap: wrap;}
.trivia-quiz .score-image img{width:25%;height:200px;object-fit: cover;}
.trivia-quiz .score-section{background-color:#ccc;padding:20px;border-radius: 10px;}
.trivia-quiz .score{padding:20px 0;font-size: 1.5em;line-height:100%;margin:0;}
.trivia-quiz .eachQ{display:none}
.trivia-quiz .eachQ.curQ{display:block;}
.trivia-quiz .score-etc button{height:30px;padding:0 10px;}
.trivia-quiz .score-etc button img{width:20px;vertical-align:middle;}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    .trivia-quiz .quiz-container{width:100%;}
    .container{width:92%}
}
  
/* Large smartphones */
@media screen and (max-width: 768px) {
    .container{width:95%}
}

/* Small smartphones  */
@media screen and (max-width: 576px) {
    .trivia-quiz .quiz-header{flex-direction: column;}
    .trivia-quiz .quiz-header h2{font-size:1.8em;}
    .trivia-quiz .quiz-container{padding:10px;}
    
    .trivia-quiz .score-image img{width:50%;height:180px;object-fit: cover;}
    .trivia-quiz .details{justify-content: flex-start;flex-direction: row-reverse;}
    .trivia-quiz .details .user{margin-left:8px;}
    .trivia-quiz .quiz-body{margin-top:5px;}
    .createpost .create-container{padding:10px;}
    
}
  