.createpost{text-align:center;}
.createpost h2{font-weight:bold;font-size:1.5em;margin-bottom:20px;color:#000;margin-top:0;}
.createpost .create-container{    
    margin:0 auto;
    max-width: 960px;
    background:#fff;
    padding:30px;

    border:2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
    text-align: left;
}
.createpost label{font-weight:bold;margin-right:10px;font-size:1em;}
.createpost .inputline{display:flex;padding-bottom:10px;align-items: center;}
.createpost .txtInput{border:1px solid rgb(41, 41, 191);border-radius: 5px;padding:5px 10px}
.createpost .inputline.title{font-size:1em;}
.createpost .inputline.title .txtInput{width:70%;}
.createpost .typeBtn{border:2px solid #000;background:#ccc;padding:5px 10px;border-radius:5px;margin-right:5px;cursor:pointer;}
.createpost .typeBtn.on{background:blue;color:white}
.createpost .errmrg{padding:3px 0;font-size:0.9em;color:red;line-height: 120%;margin:0;}
.createpost .inputline.qQ .txtInput{width:80%;}
.createpost .inputline.qA .txtInput{width:40%;margin-right:5px;}
.createpost .inputline.qA label{margin-right:3px;font-size:0.9em;}
.createpost .qInputSet{background-color:rgb(227, 225, 225);border-radius: 10px;padding:15px;position:relative;margin-bottom:5px;}
.createpost .qInputSet h4{margin-bottom:7px;font-weight:bold;color:blue;margin-top:0;}
.createpost .qInputSet .button.remove {position:absolute;top:5px;right:5px;aspect-ratio:calc(16/9);width:30px;background:#fff;border-radius: 5px;border:1px solid #ccc;}
.createpost .button-section{position:relative;text-align: center;}
.createpost .button.add{position:absolute;top:0;right:0;padding:2px 5px;}
.createpost .button.submit{padding:10px 30px;background-color: blue;border-radius: 10px;color:#fff;}
/* .createpost .qInputSet .cloudinary-button{cursor: pointer;border:1px solid #666;padding:6px 10px;background-color: aliceblue;border-radius: 4px;font-size:0.9em;} */
.createpost .cloudinary-button{padding:5px 14px;}
.createpost .qImg img{width:30%;border-radius: 5px;object-fit: cover;}
.createpost .qImg img{aspect-ratio:calc(16/9);object-fit: cover;object-position: center;}
.createpost .uploader{display:none;}
.createpost .quiz-nav{display: flex;justify-content: space-between;}
.createpost .quiz-nav button{margin:0;padding:3px 15px;}
.createpost .quiz-nav span{font-size:0.85em;color:#333;padding-top:3px;}
.createpost .quiz-nav button.inactive{color:#ccc;}
.createpost .image-uploader input{background-color:#fff;}
.createpost .image-uploader button{border-radius: 4px;padding:4px 10px;background-color: rgb(226, 141, 194);}
.createpost .inputline.corrA select{padding:2px 10px;}
