.homepage{
    display: flex;
    flex-wrap: wrap;
}

.mainpage{
    width:88%;
    padding: 1%;

}

.quiz-card{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.userRanking{
    width:10%;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
}

h3{
    color: black;
}